.Toolbar {
  height: 55px;
  width: 100%;
  position: fixed;
  justify-content: space-between;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  padding: 25px 20px;
  box-sizing: border-box;
  z-index: 90;
  font-size: 14px;
  font-family: Verdana, sans-serif;
  box-shadow:0 2px 2px 0 rgba(0,0,0,0.16);
}

.Toolbar a {
  color: #000;
  text-decoration: none;
}

.Toolbar a:focus {
  color: #007bff;
  text-decoration: none;
}

.search input:focus {
  color: #000;
}

.nav-left {
  display: flex;
  max-width: 100%;
}

.Logo {
  margin-right: 10px;
}

.Search {
  margin-right: 85px;
  border-radius: 5px;
}

.Search input {
  border-radius: 0px;
  border: 1px solid gray;
  padding: 0px 8px;
}

.Search input:focus {
  outline: gray;
}

.Toolbar li {
  display: inline-block;
  margin: 0 15px;
  line-height: 1.5;
}

.nav-left .Search {
  width: 28%;
}

.user-icon-navbar{
  display: flex;
  justify-content: center;
  color: white;
  background-image: linear-gradient(-85deg, #49cdb7, #1ab7db);
  width: 100%;
  /* font-size: 40px; */
  font-size: 2rem;
  border-radius: 5px;
  cursor: pointer;
}

.picture-toggle::after {
  display:none;
}

.font-17{
  font-size: 17px;

}

.color-deepBlue{
  color: #2a3c51;
}

.teal-underline{
  border-bottom: solid 2px rgb(22, 190, 182);
}

.navbar_logo {
  width: 50px;
}

.category-dropdown:hover {
  cursor: pointer;
}

.navbar-login{
  color: rgb(32, 170, 163);
  font-size: 16px;
  font-weight: 20;

}

#nav-link-sign-in:hover, #nav-link-sign-up:hover{
  text-decoration: underline;
}

.clear-text-decoration{
  text-decoration: none;
  margin-right: 3px;
  margin-left: 3px;
}

#nav-vertical-divider{
  font-size: 18px;
}
.search_Button {
    background-color: #52C4B9;
    color: white;
    border: none;
    outline: none;
    padding: 6px 12px;
    font-size: 0.8em;
    font-weight: 500;
    border-radius: 0px 15px 15px 0px;
    width: fit-content;
}

#searchbarinput {
    background-color: #52C4B9;
    border: none;
    border-radius: 15px 0px 0px 15px;
    color: white;
}

::placeholder {
    color: white;
    opacity: 1;
}

#dropdownMenuLink {
    float: right;
}

#white {
    color: white;
}

.search_Form {
    display: flex;
}

.message-notification {
  background-color: red;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  position: absolute;
  top: 8px;
  right: 115px;
}

.font-family-roboto {
  font-family: Roboto,sans-serif;
}

