@media only screen and (max-width: 600px) {

  /* onClick add these classes to open navbar */
  /* sidebar */
  #mob-nav-sidebar-gradient {
    width: 100%;
    height: 100%;
    position: fixed;
    background: #2E4158;
    z-index: 100;
    transition: 0.5s;
  }

  .mob-nav-header-invisible {
    visibility: hidden;
  }

  .mob-nav-sidebar-signIn {
    display: block;
    margin-top: 15px;
  }

  .mob-nav-sidebar-signIn p {
    font-size: 20px;
    line-height: 2;
  }

  .mob-nav-photo-visible {
    display: block;
    margin-top: 20px;
  }

  .mob-nav-photo-visible i {
    font-size: 5rem;

  }


/* ///////////////////// */

  .mob-Toolbar {
    height: 100px;
    width: 100%;
    position: fixed;
    justify-content: space-between;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 1);
    display: block;
    align-items: center;
    padding: 0px;
    box-sizing: border-box;
    z-index: 90;
  }

  /* header */
  .mob-nav-header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
  }

  .mob-nav-left {
    flex-direction: column;
  }

  /* search bar */
  .mob-nav-searchBar {
    width: 100%;
  }

  .nav-left .Search, .search_Form {
    width: 100%;
  }

  #searchbarinput, .search_Button {
    height: 40px;
    background-color: #eeeeee;
    color: #000;
  }

  #searchbarinput {
    width: 100%;
    margin-left: 10px;
  }

  .search_Button {
    margin-right: 10px;
  }

  #searchbarinput::placeholder, #searchbarButton {
    color: #000;
  }

  .mob-nav-category, .mob-nav-signIn, .mob-nav-photo-hidden, .mob-nav-chat, #mob-create-deal-hidden {
    display: none !important;
  }

  /* hambuger bar */
  .mob-nav-bar {
    display: block;
    position: absolute;
    right: 5%;
  }

  /* Upload Image */
  #mob-nav-createDeal {
    position: fixed;
    bottom: 15px;
    background-color: #2E4158;
    padding: 15px;
    width: 50%;
    border-radius: 50px;
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, 0%);
    text-align: center;
    z-index: 0;
    margin: 0px;
  }



  #mob-nav-createDeal span {
    color: #fff;
  }

  .beta {
    top: 25px;
  }

}