.Faq-qnaList{
    margin: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
  }

.faqMenuTitle{
    text-align: center;
  }
  
.Faq-answer{
    font-size: 20px;
  }
#Faq-amh{
    padding: 20px;
    text-align: center;
    font-size: 27px;
  }
.Faq-button{
    position: flex;
  }
  
.Faq-page {
    height: 100vh;
    display: flex;
    color: #2E4158;
    padding-top: 54px;
    min-height: calc(100vh - 50px);
  }
  
.Faq-mainContent {
    width: 100%;
    background-color: white;
    position: absolute;
    padding-top: 75px;
    padding-bottom: 75px;
   
  }
    
.Faq-menu {
    width: 100%;
    display: flex;
    flex-direction: row;

    overflow-x: auto;
    border-bottom: 3px solid #d6d4d4;
    background-color: #199087;
    color: #fff;
    padding-top: 15px;
    padding-left: 90px;
    padding-right: 70px;
    position: fixed;
    margin-top: 0;
    z-index: 2;
  }
.Faq-menuItem{
    font-size: 15.5px;
    padding-left: 50px;
    padding-right: 50px;
    font-family: Lato,sans-serif;
    padding-bottom: 10px;
    text-decoration: none;
    color: #fff;
    margin: 0px 97px 0px 83px;
    color: #2a3c51;
    font-size: 17px;
    
      
  }
  
.Faq-menuItem:hover{
    color: white;
  }
  
  