body, html {
  height: 100%;
  /* height: calc(100vh - 115px); */
  margin: 0px; /*removes default style*/
  /* background-color: #dae0e6; */
  background-color: #f8f8fa;
}

.Content {
  padding-top: 75px;
  min-height: calc(100vh - 50px);
}
