.scroll_Button {
    background-color: #52C4B9;
    color: white;
    border: none;
    outline: none;
    padding: 6px 12px;
    font-size: 0.8em;
    font-weight: 500;
    width: 100px;
    border-radius: 25px;
  }

.page_Number {
    /* color: #52C4B9;
    background-color: #ffffff;
    border: #52C4B9, solid, 1px;
    outline: none;
    border-radius: 25px;
    font-size: 0.8em;
    font-weight: 500;
    width: fit-content;
    margin: 0px 30px; */
    background-color: #52C4B9;
    color: white;
    border: none;
    outline: none;
    padding: 6px 12px;
    font-size: 0.8em;
    font-weight: 500;
    width: fit-content;
    border-radius: 25px;
}

.page_NavContent {
    width: fit-content;
    margin: 10px auto;
}

.button_Hide_true {
    visibility: hidden;
}

.button_Hide_false {
    visibility: visible;
}

.no_Results {
    width: fit-content;
    margin: auto;
    font-size: 1em;
    font-weight: 500;
    color: #52C4B9;
}