.copyrightFooter{
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  color: #768496;
  margin-bottom: 20px;
}
.Footer-links{
  text-align:  center;
}
.Faq-footer{
  padding: 10px;
}
.AboutUs-footer{
  padding: 10px;
}
