.Footer-links{
  text-align:  center;
  background-color: #2E4158;
  flex-direction: column;
  flex: 1 1 0%;
  display: flex;
  padding-bottom: 30px;
  padding-top: 50px;
}

.Footer-company{
  text-align: center;
  padding-bottom: 30px;
}

.Footer-linkTitle{
  color: white;
}

.Faq-footer{
  padding: 10px;
  color: whitesmoke;
}

.AboutUs-footer{
  padding: 10px;
  color: whitesmoke;
}

.Returns-footer{
  padding: 10px;
  color: whitesmoke;
}

.copyrightFooter{
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  color: #768496;
  margin-bottom: 20px;
}


