.Footer{
  background-color: #2E4158;
  color: white;
  padding-right: 10%;
  margin: auto;
}

.Footer-colCompany{
    text-align:  center;
    background-color: #2E4158;
    padding-bottom: 30px;
    padding-top: 50px;
    margin: auto;
    margin-left: 10px;
  }

.Footer-colTerms{
  text-align:  center;
  background-color: #2E4158;
  padding-bottom: 30px;
  padding-top: 50px;
  padding-left: 0px;
  margin: auto; 
  margin-left: 10px;
}

.Footer-logo{
  font-size: 17px;
  text-align:  center;
  background-color: #2E4158;
  padding-bottom: 30px;
  padding-top: 50px;
  margin: auto; 
}

.Footer-company{
  padding-bottom: 30px;
 
}

.Footer-terms{
  padding-bottom: 30px;
}

.Footer-linkTitle{
  color: white;
}

.Footer-link{
  padding: 10px;
  color: white;
}

.Footer-link:hover{
  color: white;
}

.copyrightFooter{
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  color: #768496;
  padding-left: 10px;
}

.Footer-socialIcon{
  justify-content: center;
  display: flex;
  padding: 10px;
}



