
/* media query */
@media only screen and (max-width: 640px) {

  .deal-container {
    display: none;
  }

  .deal-item-content {
    min-height: 0px;
    margin: 0px;
    box-shadow: none;
    display: block;
    border-radius: 0px;
  }

  .deal-images-container {
    width: 100%;
    margin: 10px 0px;
    min-height: 300px;
    max-height: 300px;
    display: block;
  }

  .deal-item-image img {
    max-width: 100%;
    max-height: 300px;
    min-width: 100%;
    min-height: 300px;
  }

  .carousel .thumbs-wrapper{
    display: none;
  }

  .deal-checkout-container {
    padding: 0 15px;
    position: relative;
    height: 100%;
    width: 100%;
  }

}
