.deal-container {
  margin: 0px 50px;
  margin-bottom: 10px;
  box-sizing: border-box;
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  display: flex;
  border-radius: 5px;
  flex-direction: column;
}

.deal-item-content {
  min-height: 500px;
  margin: 0px 50px;
  margin-bottom: 10px;
  box-sizing: border-box;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  display: flex;
  border-radius: 5px;
}

.deal-header {
  background-image: linear-gradient(-85deg, #49cdb7, #1ab7db);
  width: 100%;
  height: 100px;
  border-radius: 5px 5px 0 0;
  display: flex;
  color: white;
}

.deal-item-header {
  width: 50%;
  display: flex;
  padding: 20px;
}

.deal-item-name {
  width: 50%;
}

.deal-item-cost {
  width: 50%;
}

.deal-item-discount {
  background-color: #e63e43;
  border:  #e63e43 1px solid;
  font-size: 15px;
  border-radius: 5px;
  padding: 5px;
  color: #fff;
  font-weight: 700;
}

.deal-item-summary {
  width: 50%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-top: 5px;
}

.customize-item-summary {
  width: 20%;
}

.customize-item-shipping {
  width: 60%;
}

.customize-item-payment {
  width: 20%;
}

/* .deal-item-steps {
  background-color: sandybrown;
} */

.ui.steps {
  border-radius: 0px;
  width: 100%;
}

.deal-main-info {
  display: flex;
  height: 100%;
  /* width: 100%; */
}

.deal-images-container {
  width: 35%;
  margin: 25px 25px 25px 25px;
  min-height: 485px;
  max-height: 485px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.guest-images-container {
  min-height: 590px;
  max-height: 590px;
  width: 35%;
  margin: 25px 25px 25px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.deal-checkout-container {
  padding: 0 20px;
  position: relative;
  height: 100%;
  width: 65%;
}

.react-carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.thumbs.animated {
  overflow-x: auto;
}

.deal-item-image {
  background: #f8f8fa;
}

.deal-item-image img {
  border-radius: 5px;
  max-width: 300px;
  max-height: 300px;
  min-width: 175px;
  min-height: 175px;
  object-fit: cover;
}

.dealitem-error-msg {
  /* border-color: red; */
  color: red;
  margin-bottom: 10px;
}

/* Seller Review */
.sellers-reviews {
  /* min-height: 500px; */
  margin: 0px 50px;
  margin-bottom: 10px;
  box-sizing: border-box;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  padding: 20px;
  font-weight: 700;
  font-size: 1.5em;
}

#seller-review-label{
  margin-bottom: 20px;
}

#seller-review-avatar, #buyer-review-avatar {
  margin-right: 10px;
}

#seller-review-name {
  font-size: 1em;
}

#seller-review-verify, .buyer-review-rating {
  font-size: .8em;
  margin-right: 5px;
}

#seller-review-verify i {
 margin-right: 5px;
}

#seller-profile-rating {
  display: flex;
  width: 100%;
}

.seller-review-profile-left {
  width: 35%;
}

#seller-review-profile {
  display: flex;
  margin-right: 25px;
  padding: 0 20px;
}

#seller-review-rating {
  width: 65%;
  padding: 0 20px;
  font-size: .8em;
}

.star-space{
  padding: 0px 10px;
}

.star-space-right{
  margin: 0 10px;
}

.star-buyer {
  display: flex;
}

.review-header-container{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.review-header{
  display: flex;
}

.review-header i {
  display: flex;
  width: 101%;
}

.buyer-review-avatar {
  margin-right: 10px;
}

.buyer-review-date {
  justify-content: space-between;
}

.review-body {
  font-size: .9em;
}

.message-seller button{
  border-radius: 5px;
  width: 90%;
  cursor: pointer;
  background-color: green;
  color: #fff;
}

.react-carousel .carousel .slide, .react-carousel .carousel .slider {
  background: none;
}

.react-carousel .carousel .control-dots .dot {
  width: 15px;
  height: 15px;
  background: black;
}

/* progress buttons */
/* .next-step button{
  position: static;
} */

/* .steps-workflow, .next-step {
  display: flex;
  justify-content: flex-end;
  width: 100%;
} */

.next-step button, .previous-step button, .buy-now button, .submit_payment button, .payment-previous-step button, .done-sending-payment button{
  background-color: rgb(22, 190, 182);
  color: white;
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 10px 25px;
  font-size: 1em;
  font-weight: 700;
  cursor: pointer;
}

.buy-now, .done-sending-payment {
  text-align: center;
}
.buy-now button {
  width: 85%;
  margin: 30px 0px;
  font-size: 1.5em;
}

.done-sending-payment button {
  width: 85%;
  margin-top: 10px;
  font-size: 1.5em;
}

.next-step button {
  position: absolute;
  left: 86%;
}

.previous-step button {
  position: absolute;
  left: 3%;
}
.shipping-step-buttons {
  margin-top: 20px;
}

.guest-shipping-step-buttons {
  margin-top: 130px;
}

.submit_payment button {
  position: absolute;
  top: 110%;
  left: 74%;

}

.payment-previous-step button {
  position: absolute;
  top: 110%;
  left: 3%;
}

