
/* media query */
@media only screen and (max-width: 640px) {

    .trackingDiv{
        margin-top: 50px;
        width: 95%;
    }
    .mob-tracking-padding{
        padding: 0px 20px;
    }

    .mob-tracking-width{
        max-width: 280px;
    }
}