/* modal */
 /* media query */
 @media only screen and (max-width: 640px) {
  .mob-modal-hidden {
    display: block;
  }

  .mob-modal{
    background-color: #2E4158;
    border: solid #199087 .5em;
    padding: 25px;
    display: block;
    text-transform: uppercase;
    color: white;
    height: 100%;
    width: 100%;
    text-align: center;
  }

  .mob-modal-header {
    height: 30%;
  }

  .mob-modal-body {
    height: 50%;
  }

  .mob-modal-buttons {
    display: flex;
    flex-direction: column;
  }

  .mob-modal-buttons button {
    background-color: rgb(22, 190, 182);
    color: white;
    border: none;
    outline: none;
    padding: 10px 25px;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 10px;
  }
}
