
#results-instructions{
    display: block;
    font-size: 1.4em;
    text-transform: uppercase;
    color: #199087;
    font-weight: bold;
  
  }

.results-table{
  margin-bottom: 40px;
  min-height: calc(100vh - 260px);
}