.deal-listing-content {
  min-height: 500px;
  margin: 0px 50px;
  margin-bottom: 10px;
  box-sizing: border-box;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  display: flex;
  border-radius: 5px;
}

.deal-listing-step-buttons {
  position: relative;
}

.creating-deal-next-step button, .creating-deal-back-step button{
  background-color: rgb(22, 190, 182);
  color: white;
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 10px 25px;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
}

.creating-deal-next-step button {
  position: absolute;
  right: 0;
}

.creating-deal-back-step button {
  position: absolute;
}

/* closing icon */
.closing-icon {
  width: 50px;
  height: 50px;
  background-color: #445366;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.16), 0 5px 10px 0 rgba(0, 0, 0, 0.16);
  position: absolute;
  left: 36px;
  top: 80px;
  z-index: 1;
}

.closing-icon i {
 color: #fff;
}

.closing-icon:hover {
  cursor: pointer;
 }