
  .login_modal{
    text-align: center;
    width: 600px;
    height: 250px;
    background-color: #2E4158;
    border: solid #199087 .5em;
    padding: 50px 70px;
    display: block;
    text-transform: uppercase;
    color: white;
    position: fixed;
  }

  .login_modal p{
    text-align: center;
    padding-top: 30px;
    font-size: .6em;
  }
  .login_modal .a-link{
    color: white;
    font-size: 20px;
    margin-left: 90%;
  }