.shipping-name-label {
  margin-bottom: 10px;
}

.shipping-form {
  height: 375px;
}

.shipping-form input {
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #445366;
  margin-bottom: 10px;
  width: 100%;
}

#shipping-state {
  margin-bottom: 10px;
}

.shipping-form label {
  display: block;
  text-transform: uppercase;
  font-size: .9em;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

.shipping-error::placeholder {
  color: red;
  opacity: 1; /* Firefox */
}

.shipping-state-error {
  border: solid red 1px;
  border-radius: 5px;
}


