#next-step button{
    position: static;
}

.review-box{
    box-sizing: border-box;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    margin: 10px 0px;
    padding: 10px 15px;
}

.sellers-reviews{
    padding: 45px 0;
}
.star-space{
    padding: 0px 10px;
}

.star-space-right{
    padding-right: 10px;
}
.review-header, .review-stars, .review-body{
    padding:5px 0px;
}

