.chat-sessions {
  display: flex;
  width: 100vw;
  height: 100%;
  min-height: 80vh;
  margin-top: 20px;
}

.chat-session-left{
  box-sizing: border-box;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  display: flex;
  border-radius: 5px;
  margin: 0px 10px 0px 50px;
  margin-bottom: 10px;
  padding: 20px;
  width: 35%;
}

.chat-session-right{
  box-sizing: border-box;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  border-radius: 5px;
  margin-right: 50px;
  margin-bottom: 10px;
  padding: 20px;
  width: 70%;
}

#select-chat-prompt {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 52%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#select-chat-prompt div{
  text-align: center;
}

#select-chat-prompt strong {
  font-size: 18px;
}

#empty-chat-session {
  position: relative;
  left: 15%;
}

#empty-chat-session div {
  text-align: center;
}
