.Faq-qnaList{
  text-align: center;
  }

  .faqSectionTitle{
    text-align: center;
    color: #2E4158;
}


.Faq-answer{
    font-size: 20px;
    padding: 20px;
    padding-left: 30%;
    padding-right: 30%;
    text-align: center;
  }

  .Faq-answerNote{
    text-align: center;
    font-size: 15px;
    list-style: circle inside;
    font-weight: bold;
  }

#Faq-amh{
    padding: 20px;
    text-align: center;
    font-size: 27px;
  }

.Faq-button{
    font-weight: 500;
    color: #2E4158;
  }

.Faq-page {
  position: relative;
  background-color: white;
  color: #2E4158;
  padding-top: 54px;
  min-height: 100%;
  }

.Faq-mainContent {
  background-color: white;
  padding-top: 50px;
  }

.faqMenuTitle{
  padding-left: 50px;
  padding-bottom: 10px;
  color: #2E4158;
}

.faqMenuTitle:hover{
  color: #66DAC7;
}

.Faq-button:hover{
  color: #66DAC7;
}

.Faq-menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom: 3px solid #d6d4d4;
  background-color: #199087;
  color: #fff;
  padding-top: 15px;
  position: fixed;
  margin-top: 0;
  z-index: 2;
  justify-content: center;
}

.Faq-menuItem{
    width: 100%;
    font-size: 15.5px;

    font-family: Lato,sans-serif;
    padding-bottom: 10px;
    text-decoration: none;
    color: #fff;
    margin: 0px 97px 0px 83px;
    font-size: 17px;
  }


