#chat_messages_container {
  min-height: 65vh;
  max-height: 65vh;
  overflow-y: auto;
}

#chat-messages {
  display: flex;
  flex-direction: column;
}

.chat-message {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
}

.seller-message-right {
  background-color: rgb(22, 190, 182);
  align-self: flex-end;
  margin-right: 20px;
  /* float: right; */
}

.buyer-message-left {
  background-color: #2e4157;
  color: #fff;
}