.crypto_logo img {
  width: 50px;
  margin-top: 10px;
}

#payment-divider, #paypal-button {
  text-align: center;
  margin-bottom: 10px;
}

.payment-form {
  height: 400px;
}

/* z-index only works for relative position */
.payment-form form {
  position: relative;
}

#select_crypto {
  z-index: 1000 !important;
}