.send-payment {
  display: flex;
}

.send-payment img {
  height: 200px;
  width: 200px;
  margin: 0 10px;
}

.send-payment-header {
  line-height: 1;
}
.payment-address {
  line-height: .5;
  margin: 0 25px;
  font-size: 20px;
  text-align: center;
}

#coinpayment-address {
  color: green;
}

.payment-timeout {
  text-align: center;
  margin-top: 40px;
  margin-left:25px;
  font-size: 15px;
}

.send-crypto-amount {
  margin: 25px 0;
  padding-bottom: 25px;
}

.send-crypto-amount strong {
  color: green;
}
