.col-cryptos {
  height: 100%; /* span the full height of the browser window*/
}

#left {
  flex-shrink: 0;  /*makes sure that content is not cut off in a smaller browser window*/
  overflow-y: auto; /* scroll inside the column*/
  max-width: 25%;
  margin: 0 30px 0 10px;
  border-radius: 5px;
  background-color: #2e4158;
  font-size: 12px;
  color: #fff;
}

.text-align{
  text-align:center;
}
thead {
  color: rgb(22, 190, 182);
}

tbody {
  color: rgb(255,255,255);
}

.table-hover tbody tr:hover {
  color: rgb(255,255,255);
}

.rankingImage {
  width: 40px;
}

.sortButton {
  background-color: #2e4158;
  border-color: #2e4158;
  color: #66dac7;
  padding: 8px 25px;
  min-width: 100px;
  margin: 5px 20px;
  box-shadow: none;
  font-weight: bold;
  border-style: none;
}

.sortButtonActive {
  background-color: #66dac7;
  border-color: #66dac7;
  color: black;
  padding: 8px 25px;
  min-width: 100px;
  margin: 5px 20px;
  box-shadow: none;
  font-weight: bold;
  border-style: none;
}

#no-border-top{
  border-top: 0px;
}