@media only screen and (max-width: 600px) {

  /* category slide */
  .mob-category-menu {
    margin-top: 30px;
  }

  /* Hide scrollbar but still scrollable */
  .menu-parent {
    /* for scroll */
    -ms-overflow-style: none;  /* IE 10+ */
    overflow: -moz-scrollbars-none; /*Firefox*/

    /* Not relating to scroll */
    padding-left: 10px;
  }
  .menu-parent::-webkit-scrollbar {
      display: none;  /*Safari and Chrome */
  }
}


