@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.mr-20 {
  margin-right: 20px !important;
}

.App {
    height: 100%;
    display: flex;
    color: white;
    /* this margin top is needed to offset the layout margin top so there is no gap between the nav bar and the sign up content */
    /* margin-top: -30px; */
  }

  .App__Aside {
    width: 50%;
    background-color: #66DAC7;
    padding-top: 75px;
    /* padding-bottom: 75px; */
  }

  .App__Form {
    width: 50%;
    background-color: #2E4158;
    padding: 0px 40px;
    overflow: auto;
    padding-top: 75px;
    /* padding-bottom: 75px; */
  }

  .PageSwitcher {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10%;
  }

  .PageSwitcher__Item {
    background-color: #4C5D72;
    color: #9DA6B1;
    padding: 10px 25px;
    cursor: pointer;
    font-size: 1em;
    border: none;
    outline: none;
    display: inline-block;
    text-decoration: none;
  }

  .PageSwitcher__Item--Active {
    background-color: #5ED0C0;
    color: white;
  }

  .PageSwitcher__Item:first-child {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  .PageSwitcher__Item:last-child {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }

  /* .FormCenter {
    margin-bottom: 100px;
  } */


  .FormTitle {
    color: #707C8B;
    font-weight: 300;
    margin-bottom: 50px;
  }

  .FormTitle__Link {
    color: #707C8B;
    text-decoration: none;
    display: inline-block;
    font-size: 1.7em;
    margin: 0 10px;
    padding-bottom: 5px;
  }

  .FormTitle__Link:first-child {
    margin-left: 0;
  }

  .FormTitle__Link--Active {
    color: white;
    border-bottom: 1px solid #199087;
  }

  .FormField {
    margin-bottom: 40px;
    color: teal;
  }

  .FormField__Label {
    display: block;
    text-transform: uppercase;
    font-size: .9em;
    color: white;
  }
  .FormField__Input {
    width: 85%;
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    border-bottom: 1px solid #445366;
    font-size: 1em;
    font-weight: 300;
    padding-bottom: 10px;
    margin-top: 10px;
  }

  .FormField__Input::placeholder {
    color: #616E7F;
  }

  .FormField__Button {
    background-color: #52C4B9;
    color: white;
    border: none;
    outline: none;
    border-radius: 25px;
    padding: 15px 70px;
    font-size: 0.8em;
    font-weight: 500;
    width: fit-content;
    margin: 0 20px 20px 0;
  }

  .FormField__Link {
    color: #66707D;
    text-decoration: none;
    /* display: inline-block; */
    border-bottom: 1.5px solid #225E62;
    padding-bottom: 5px;
    width: fit-content;
    margin-left: 15px;
  }

  .FormField__CheckboxLabel {
    color: #646F7D;
    font-size: .9em;
  }

  .FormField__Checkbox {
    position: relative;
    top: 1.5px;
  }

  .FormField__TermsLink {
    color: white;
    border-bottom: 1px solid #199087;
    text-decoration: none;
    display: inline-block;
    padding-bottom: 2px;
    margin-left: 5px;
  }

  .Modal{
    text-align: center;
    width: 600px;
    height: 250px;
    background-color: #2E4158;
    border: solid #199087 .5em;
    padding: 50px 70px;
    display: block;
    text-transform: uppercase;
    color: white;
    position: fixed;
  }
  /* p{
    text-align: center;
    padding-top: 30px;
    font-size: .6em;
  } */
  .a-link{
    color: white;
    font-size: 20px;
    margin-left: 90%;
  }


.crypto-img {
  width: 150px;
}

.font-weight-light ul {
  font-size: 25px;
  font-weight: 500;
}

.App__Aside h1,
.App__Aside h2 {
  color: #616e7f;
  text-align: center;
  font-weight: 700;
}

hr.star-light {
  max-width: 15rem;
  padding: 0;
  text-align: center;
  border: none;
  border-top: solid 0.25rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  margin-left: auto;
  margin-right: auto;
}

  hr.star-light:after {
    position: relative;
    top: -.8em;
    display: inline-block;
    padding: 0 0.25em;
    content: '\f005';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 2em;
  }

  hr.star-light {
    border-color: #445366;
  }

  hr.star-light:after {
    color: #445366;
    background-color: #66DAC7;
  }

  .App__Aside .homepage-icons {
    color: #445366;
    padding: 10px;
  }


  .FormCenter{
    min-height: calc(100% - 23%);
  }

  /* media query */
@media only screen and (max-width: 640px) {
  .App {
    width: 100%;
    height: 100%;
    display: table;
    color: white;
    /* this margin top is needed to offset the layout margin top so there is no gap between the nav bar and the sign up content */
    /* margin-top: -30px; */
  }

  .App__Aside {
    width: 100%;
    background-color: #66DAC7;
    padding-top: 75px;
    padding-bottom: 75px;
  }

  .App__Form {
    width: 100%;
    background-color: #2E4158;
    padding-top: 60px;
  }

  .App__Aside ul {
    padding-right: 15px;
  }

/* page switcher toggle */
  .App__Form .PageSwitcher {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    position: fixed;
  }

  .App__Form .PageSwitcher__Item {
    background-color: #4C5D72;
    color: #2e4157;
    cursor: pointer;
    font-size: 1.2em;
    border: none;
    outline: none;
    display: inline-block;
    text-decoration: none;
    width: 100%;
  }

  .App__Form .PageSwitcher__Item--Active {
    background-color: #2e4157;
    color: #66DAC7;
  }

  .PageSwitcher__Item:first-child {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    text-align: center;
  }
  .PageSwitcher__Item:last-child {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    text-align: center;
  }

}

@media only screen and (max-width: 840px) {

  .buttonLink{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .FormField__Button {
    margin: 0 0px 20px 0;
  }
}