/* the container of all contents on the page */
.transactions-content {
  display: flex;
  box-sizing: border-box;
}

/* move the feed cards to the right of the page. */
.right {
  flex-shrink: 0; /* makes sure that content is not cut off in a smaller browser window */
  /* width: 50%; the left cruptoranking component takes 25% of browser width so I make the feed card 50% of width */
  margin-left: 10px;
}

.feed-card {
  margin-bottom: 15px;
  background-color: #fff;
  height: 120px;
  width: 100%;
  border-radius: 5px;
  /* box-shadow: 0 6px 5px -6px #777; */
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  position: relative;
  display: flex;
  font-family: Verdana, sans-serif;
}

.card-content {
  min-height: 80px;
  width: 95%;
  border-radius: 5px;
  display: flex;
  flex-shrink: 0;

  /* center the inner div with the outer div */
  box-sizing: border-box;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.user-info {
  display: flex;
  flex-direction: column;
  margin-right: 20px;


}

.user-info div {
  display: flex;
  height: 75px;
  width: 75px;
}

.user-info img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

/* Changed the classes to a  user-icon-background user-icon and  */
/* .user-icon-background {
  background-image: linear-gradient(-85deg, #49cdb7, #1ab7db);
  position: relative;
  width: 60px;
  border-radius: 5px;
  margin: 0 auto;
}

.user-icon {
  font-size: 50px;
  color: #fff;
   margin: 5px;
  justify-content: center;
} */

.user-name {
  text-align: center;
}

/* This is the space for where the main content is */
.user-transaction-info {
  margin-top: 10px;
}

.timestamp {
  float: right;
  position: absolute;
  bottom: 0%;
  right: 2%;
}

.tx_id{
  float: left;
  position: absolute;
  bottom: 0%;
  left: 2%
}

.blueText{
  color: rgb(8, 83, 153);
}

.greenText{
  color: green;
}

.redText{
  color: rgb(185, 5, 5);
}


.featured-image{
  height: 83px;
  width: auto;
}

.write-review {
  position: absolute;
  top: 0;
  left: 80%;
}

.write-review button {
  background-color: rgb(22, 190, 182);
  color: white;
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 3px 10px;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
}

.main-modal-deal-image {
  width: 100px;
  height: 100px;
  margin: 20px auto;
}

.main-modal-deal-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

/* stars rating */
.review-rating-wrapper {
  width: 100%;
  text-align: center;
}


.review-rating {
  display: inline-block;
  position: relative;
  height: 30px;
  line-height: 30px;
  font-size: 30px;
}

.review-rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.review-rating label:last-child {
  position: static;
}

.review-rating label:nth-child(1) {
  z-index: 5;
}

.review-rating label:nth-child(2) {
  z-index: 4;
}

.review-rating label:nth-child(3) {
  z-index: 3;
}

.review-rating label:nth-child(4) {
  z-index: 2;
}

.review-rating label:nth-child(5) {
  z-index: 1;
}

.review-rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.review-rating label .icon {
  float: left;
  color: transparent;
}

.review-rating label:last-child .icon {
  color: #fff;
}

.review-rating:not(:hover) label input:checked ~ .icon,
.review-rating:hover label:hover input ~ .icon {
  color: rgb(22, 190, 182);
}

.review-rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #fff;
  text-shadow: 0 0 5px rgb(22, 190, 182);
}

/* ////////////// */

.review-text-area {
  letter-spacing: .1em;
  padding: 5px;
  resize: none;
  border-radius: 5px;
}

.review-text-area:focus {
  outline: none;
}

.main-modal-header {
  text-align: center;
}
