.deal-listing-description {
  min-height: 600px;
  margin: 0px 50px;
  margin-bottom: 10px;
  box-sizing: border-box;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

  border-radius: 5px;
  padding: 30px;
}

.listing-description-container {
  width: 100%;
}

.description-titles {
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 1.14285714em;
  font-weight: 700;
}

.description-input {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #445366;
    font-size: 1.5em;
    font-weight: 400;
    margin-bottom: 20px;
}

.listing-description-container-for-dropdown-flex {
  display: flex;
}

.listing-description-container-for-dropdown {
  width: 50%;
  margin-right: 15px;
}

.description-title-dropdown {
  margin-bottom: 10px;
}

/* styling the detail area */

.editor-wrapper {
  width: 80%;
  margin: auto;
}
div.DraftEditor-root {
  border: solid 1px gray;
  border-radius: 5px;
  padding: 20px;
  height: 200px;
  overflow-y: auto;
  font-size: 18px;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  /* height:250px;
  overflow-y: scroll;
  padding:20px;
  font-size: 18px;
  font-family: 'calibri', sans-serif; */
}

.listing-detail-buttons {
  text-align: center;
  margin: 10px 0px;
}

.detail-button {
  margin-left: 5px;
  background-color: #fff;
  border-radius: 5px;
}

.detail-button:focus {
  outline:0;
}

.detail-button:hover {
  cursor: pointer;
}

.detail-title {
  margin-top: 20px;
}

.public-DraftEditorPlaceholder-inner {
  position: absolute;
  color: #aaaaaa;
}

