.retunsItem-list{
    margin: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
  }

.returnsMenuTitle{
    text-align: center;
    padding: 10px;
  }

.returnsListSubItem{
  font-weight: bold;
  list-style: disc inside;
}

.returns-listItem{
    font-size: 20px;
    text-align: center;
    padding: 10px;
    padding-left: 10%;
    padding-right: 10%;
  }

  #returns-listSubItem{
    font-size: 20px;
    text-align: center;
    padding: 10px;
    padding-left: 10%;
    padding-right: 10%;
    font-weight: bold;
  }
#returns-amr{
    padding: 20px;
    text-align: center;
    font-size: 27px;
  }

.Returns-page {
    height: 100vh;
    display: flex;
    color: #2E4158;
    padding-top: 54px;
    min-height: calc(100vh - 50px);
  }

.Returns-mainContent {
    width: 100%;
  }