.deal-listing-shown-image-container {
  width: 35%;
  margin: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed;
  border-radius: 5px;
}

.deal-listing-shown-image-container div:hover {
  cursor: pointer;
}

#uploading-image {
  text-align: center;
}

#photos-upload, #small-photo-upload {
  display: none;
}

#shown-uploading-image {
  max-height: 90%;
  max-width: 90%;
  padding: 5px;
}

.deal-listing-images {
  width: 65%;
  margin: 25px;
  padding: 5px;
  text-align: center;
}

.deal-listing-img {
  border: dashed 1px;
  border-radius: 5px;
  height: 150px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.uploaded-listing-image {
  max-height: 150px;
  max-width: 150px;
  padding: 5px;
  cursor: pointer
}

.deal-uploaded-img-border {
  border: solid 2px #2e4157;
  border-radius: 5px;
  height: 150px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.deal-listing-img .fa-plus:hover {
  cursor: pointer;
}

.delete-uploading-photo {
  position: absolute;
  top: 0;
  left: -4px;
  cursor: pointer;
}

.main-uploaded-photo {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #2e4157;
  color: #fff;
}

.deal-listing-images .first-row{
  display: flex;
  justify-content: center;
}

.deal-listing-images .second-row{
  display: flex;
  justify-content: center;
}

.deal-listing-images hr {
  margin-top: 2rem;
}

#photos-next-step {
  display: flex;
  justify-content: flex-end;

}

#photos-next-step button {
  background-color: rgb(22, 190, 182);
  color: white;
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 10px 25px;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
}