.termsAnchor{
    color: #2E4158;
    padding-left: 50px;
    padding-bottom: 10px;
    font-size: 17px;
}
.termsMenuTitle{
    color: #2E4158;
    font-size: 17px;
    padding: 15px;
    padding-left: 20%;
    padding-right: 50px;
    /* padding-left: 50px;
    padding-bottom: 10px; */
}

.termsSectionTitle{
    color: #2E4158;
    padding-left: 20%;
    padding-bottom: 10px;
}
.termsMenuTitle:hover{
    color: #66DAC7;
}

.Terms-listItem{
    font-size: 17px;
    padding: 15px;
    padding-left: 20%;
    padding-right: 50px;
}

.Terms-listSubItem{
    font-size: 17px;
    padding: 10px;
    padding-left: 10%;
    margin-left: 250px;
    font-weight: bold;
    list-style: disc inside; 
}

#Terms-amh{
    padding: 15px;
    width: 100%;
    justify-content: center;
    display: flex;
    font-size: 27px;
}

.Terms-page {
    position: relative;
    background-color: white;
    text-align: left;
    display: flex;
    color: #2E4158;
    padding-top: 54px;
    min-height: 100%;
    /* padding-left: 30px; */
}

.termsMenu {
    /* border: 1px solid;
    border-color: #2E4158;
    border-radius: 5px;  */
    width: 300px;
    height: auto;
    overflow: auto;
    background-color: transparent;
    position: fixed;
    top: 115px;
    margin-top: 10%;
    padding-right: 20px;
    padding: 20px;
   
}

.termsMainContent {
    background-color: white;
    justify-content: left;
    display: inline;
    padding-top: 75px;
    /* padding-left: 20%; */
    /* padding-right: 5%; */
}

.Faq-menuItem:hover{
    color: white;
}

    